<div class="container">
  <div class="undefined">
    <h1 class="undefined-title">Favorite news is not on your list</h1>
    <picture class="undefined-picture">
      <source
        media="(min-width: 1280px)"
        srcset="/src/images/desk-standard-picture.png"
      />

      <source
        media="(min-width: 768px)"
        srcset="/src/images/tablet-standard-picture.png"
      />

      <img src="/src/images/mobile-standard-picture.png" alt="foto" />
    </picture>
  </div>
  <ul class="card-news"></ul>
</div>
