<div data-filter-btn-container>
  <div class="cont_mob">
    <div class="filters-buttons">
      <ul class="topmenu">
        <li class="topmenu-li">
          <button class="submenu-link">Categories</button>
          <ul class="submenu">
            <li class="submenu-li"><button name="admin">Admin</button></li>
            <li class="submenu-li"><button name="arts">Arts</button></li>
            <li class="submenu-li">
              <button name="automobiles">Automobiles</button>
            </li>
            <li class="submenu-li"><button name="books">Books</button></li>
            <li class="submenu-li">
              <button name="briefing">Briefing</button>
            </li>
            <li class="submenu-li">
              <button name="business">Business</button>
            </li>
            <li class="submenu-li"><button name="climate">Climate</button></li>
            <li class="submenu-li">
              <button name="corrections">Corrections</button>
            </li>
            <li class="submenu-li">
              <button name="crosswords & games">Crosswords & Games</button>
            </li>
            <li class="submenu-li">
              <button name="education">Education</button>
            </li>
            <li class="submenu-li">
              <button name="en español">En Español</button>
            </li>
            <li class="submenu-li"><button name="fashion">Fashion</button></li>
            <li class="submenu-li"><button name="food">Food</button></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="cont_tab">
    <div class="filters-buttons">
      <ul class="topmenu">
        <li class="topmenu-li"><button name="admin">Admin</button></li>
        <li class="topmenu-li"><button name="arts">Arts</button></li>
        <li class="topmenu-li">
          <button name="automobiles">Automobiles</button>
        </li>
        <li class="topmenu-li"><button name="books">Books</button></li>
        <li class="topmenu-li">
          <button class="submenu-link">Others</button>
          <ul class="submenu">
            <li class="submenu-li">
              <button name="corrections">Corrections</button>
            </li>
            <li class="submenu-li">
              <button name="corrections">Corrections</button>
            </li>
            <li class="submenu-li">
              <button name="crosswords & games">Crosswords & Games</button>
            </li>
            <li class="submenu-li">
              <button name="education">Education</button>
            </li>
            <li class="submenu-li">
              <button name="en español">En Español</button>
            </li>
            <li class="submenu-li"><button name="fashion">Fashion</button></li>
            <li class="submenu-li"><button name="health">Health</button></li>
            <li class="submenu-li">
              <button name="home & garden">Home & Garden</button>
            </li>
            <li class="submenu-li">
              <button name="home page">Home Page</button>
            </li>
            <li class="submenu-li">
              <button name="job market">Job Market</button>
            </li>
            <li class="submenu-li"><button name="lens">Lens</button></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="cont_disk">
    <div class="filters-buttons">
      <ul class="topmenu">
        <li class="topmenu-li"><button name="admin">Admin</button></li>
        <li class="topmenu-li"><button name="arts">Arts</button></li>
        <li class="topmenu-li">
          <button name="automobiles">Automobiles</button>
        </li>
        <li class="topmenu-li"><button name="books">Books</button></li>
        <li class="topmenu-li">
          <button name="briefing" class="tabl-none">Briefing</button>
        </li>
        <li class="topmenu-li">
          <button name="business" class="tabl-none">Business</button>
        </li>
        <li class="topmenu-li">
          <button class="submenu-link">Others</button>
          <ul class="submenu">
            <li class="submenu-li">
              <button name="corrections">Corrections</button>
            </li>
            <li class="submenu-li">
              <button name="corrections">Corrections</button>
            </li>
            <li class="submenu-li">
              <button name="crosswords & games">Crosswords & Games</button>
            </li>
            <li class="submenu-li">
              <button name="education">Education</button>
            </li>
            <li class="submenu-li">
              <button name="en español">En Español</button>
            </li>
            <li class="submenu-li"><button name="fashion">Fashion</button></li>
            <li class="submenu-li"><button name="health">Health</button></li>
            <li class="submenu-li">
              <button name="home & garden">Home & Garden</button>
            </li>
            <li class="submenu-li">
              <button name="home page">Home Page</button>
            </li>
            <li class="submenu-li">
              <button name="job market">Job Market</button>
            </li>
            <li class="submenu-li"><button name="lens">Lens</button></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
