<nav class="pagination">
  <button class="prew">
    <svg width="8" height="12" class="svg-prew">
      <use href="./images/sprite.svg#left-arrow"></use>
    </svg>
    Prew
  </button>
  <div class="numbers">
    <button class="num hidden">1</button>
    <span class="dots hidden">...</span>
    <button class="num">1</button>
    <button class="num">2</button>
    <button class="num">3</button>
    <button class="mobile-num hidden">1</button>
    <span class="dots">...</span>
    <button class="num">20</button>
  </div>
  <button class="next">
    Next
    <svg width="8" height="12" class="svg-next">
      <use href="./images/sprite.svg#right-arrow"></use>
    </svg>
  </button>
</nav>
<div class="box"></div>
