<main>
  

    <section class="container">
        <div class="spoiler_title">
          дата
          <span class="spoiler_arrow"
            ><svg width="15" height="9">
              <use href="/src/images/sprite.svg#down-arrow"></use>
            </svg>
          </span>
        </div>
        <div
          style="
            height: 20px;
            width: 100%;
            border-top: 1px solid #929292;
            padding-left: 10px;
          "
        ></div>
        <div class="spoiler_content">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet
            repudiandae incidunt consequuntur, eum alias distinctio, minus ex
            maxime expedita nobis saepe fuga debitis nesciunt officiis. Beatae
            quae inventore non earum.
          </p>
        </div>
      </div>
    </section>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  


  