body {
  font-family: Manrope;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.38;

  color: var(--dark-text-color);
  background-color: var(--light-bg-color);
}

button {
  cursor: pointer;
  border: none;
  padding: 0px;
}

ul,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0px;
  padding: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
