:root {
  --accent-color: #4440f6;
  --white-color: #ffffff

  --dark-text-color: #111321;
  --light-text-color: #f4f4f4;
  --secondary-text-color: #a8a8a8;

  --light-bg-color: #f4f4f4;
  --dark-bg-color: #2e2e2e;
}
