// ЦЯ СЕКЦІЯ ВЖЕ ЗНАХОДИТЬСЯ В КОНТЕНЕРІ ЗАЙДИ В index.html І ПОДИВИСЬ
.filters-buttons {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}
.topmenu {
  display: flex;
  gap: 16px;
}
.topmenu-li {
//   font-family: "Manrope";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 12px;
  position: relative;
}
.topmenu-li button {
  padding: 7.5px 24px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  color: var(--accent-color);
  background-color: var(--light-text-color);
  border: 1px solid var(--accent-color);
  border-radius: 20px;

  &:hover {
    background-color: var(--accent-color);
    color: var(--white-color);
  }
}

.submenu {
  background: var(--white-color);
  border-radius: 20px;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 168px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: 0.5s ease-in-out;


}
.submenu button {
  color: var(--accent-color);
  background-color: var(--white-color);
  border: none;
  text-align: left;
  padding: 12px 15px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  &:hover{
    background-color: var(--white-color);
    color: var(--accent-color);
    text-decoration: underline;
  }
}
.submenu li:last-child button { border-bottom: none; }
.topmenu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}
