.search-icon__svg {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;

  @media screen and (min-width: 768px) {
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 12px;
  }
}

.theme-icon__sun {
  fill: transparent;
  stroke: #4b48db;
}
.theme-icon__moon {
  fill: transparent;
  stroke: #5f6775;
}

.search-input {
  display: block;
  transition: 0.5s;
  width: 100%;
  border-radius: 20px;
  position: relative;
  border: 1px solid #111321;

  font-size: 14px;
  height: 31px;
  padding: 5px 0 5px 40px;
}

.search-form {
  display: flex;
  width: 30%;
  align-items: center;
  position: relative;
  // margin-right: 14px;
  align-items: center;

  @media screen and (max-width: 767px) {
    width: 100%;
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    width: 120px;
  }
  @media screen and (min-width: 1280px) {
    width: 280px;
  }
}

.search-icon__active {
  left: 12px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
