.light-theme {
    background-color: #F4F4F4;
   
  }
  
  
  .dark-theme {
    transition: 0.5s;
      background-color: #2E2E2E;
      .header-list__item  {
        color: #F4F4F4;
       }
       .icon-open-mob-menu{
        stroke: #F4F4F4;
       }
       .open-login-form{
        fill: #F4F4F4;
       }
       .header-logo{
        color: #F4F4F4;
       }
    .theme-icon__sun {
      stroke: #5F6775;
    }
    .theme-icon__moon{
     stroke-width: 1.5px;
     stroke: blue;
     
    }
    .search-icon__svg{
      fill: #F4F4F4;
    }
    .search-input{
      border: 1px solid rgba(244, 244, 244, 0.2);
      background-color: #2E2E2E;
      color: #F4F4F4;
      ::placeholder{
        
        color: #F4F4F4;
        opacity: 0.4;
      }
     
      
    }
    
  }
  
  
  .theme{
    display: flex;
    @media screen and (max-width:767px) {
      display: none;
    }
    @media screen and (min-width:768px) {
      position: absolute;
      right: 40;
  }

  }
  
  
  
  .form-theme{
    display: flex;
    align-items: center;
  }
  .switch {
    position: relative;
    display: inline-block;
  
    width: 40px;
    height: 20px;
    margin: 0 8px;
  }
  
  /* Hide default HTML checkbox */
  .checkbox{
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border: 0.604701px solid #4B48DB;
    background-color: #FFFFFF;
      border-radius: 20px;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 1;
    bottom: 1;
    border-radius: 50%;
    background-color: #4B48DB;
    
    transition: .4s;
  }
  
  .checkbox:checked + .slider {
    background-color: #4B48DB;
  }
  
  .checkbox:focus + .slider {
    box-shadow: 0 0 1px #4B48DB;
  }
  
  .checkbox:checked + .slider:before {
  
      background-color: #fff;
    
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  
  }
  
  .slider.round:before {
    border-radius: 50%;
   
  }
  
  
  
  