<!-- <section class="backdrop">
  <div class="modal">
    <button type="button" class="close-btn">
      <svg class="close-btn__icon" width="20" height="20">
        <use href="/src/images/sprite.svg#book"></use>
      </svg>
    </button>
    <div class="modal-block">
      <form name="modal-form" class="login-form login-form_login">
        <h2 class="modal-title">Login</h2>
        <p class="modal-text">
          If you don't have an account yet, click
          <button class="modal-btn-create" type="button" data-action="login">
            here
          </button>
        </p>
        <label class="modal-label" for="Email">Email</label
        ><input
          class="modal-input"
          type="email"
          name="email"
          placeholder="Your email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          required
        />
        <label class="modal-label" for="password">Password</label
        ><input
          class="modal-input"
          type="password"
          name="password"
          placeholder="Your password"
          title="Password ..."
          required
        />
        <div class="modal-btn_block">
          <button type="submit" class="modal-btn_action">Login</button>
        </div>
      </form>
      <form name="modal-form" class="reg-form login-form_reg visually-hidden">
        <h2 class="modal-title">Create an account</h2>
        <p class="modal-text">
          If you allready have an account, click
          <button class="modal-btn-create" type="button" data-action="reg">
            here
          </button>
        </p>
        <label class="modal-label" for="Email">Email</label
        ><input
          class="modal-input"
          type="email"
          name="email"
          placeholder="Your email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          required
        />
        <label class="modal-label" for="password">Password</label
        ><input
          class="modal-input"
          type="password"
          name="password"
          placeholder="Your password"
          title="Password ..."
          required
        />
        <div class="modal-btn_block">
          <button type="submit" class="modal-btn_action">Join</button>
        </div>
      </form>
    </div>
  </div>
</section> -->
